/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    color: 	hsl(0, 1%, 85%);
    background-color: hsl(0, 20%, 1%);
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.938rem;
    letter-spacing: 0.625rem;
}

h1 {
    font-size: 6.25rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3.75rem;
}

h4 {
    font-size: 2.5rem;
}

h5, 
h6 {
    font-size: 1.25rem;
}

hr {
    background-color: hsl(0, 1%, 25%);
    border: 0 none;
    color: hsl(0, 1%, 25%);
    height: 1px;
}

/*
// Scrollbar Styles
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #0718c4;
    border: 3px solid #fff;
    border-radius: 8px;
    transition: .3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0718c4aa;
}
*/

.open-about,
.open-project  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    background-color: transparent;
    width: 2.188rem;
    height: 2.188rem;
    border: 0.063rem solid hsl(0, 1%, 95%);
    border-radius: 50%;
    margin: 3.75rem 0;
    cursor: pointer;
}

.open-about:hover,
.open-project:hover {
    color: hsl(0, 0%, 10%);
    border-color: hsl(0, 0%, 20%);
    background: hsl(0, 1%, 95%);
    transition: all 1s ease;
}

.open-about-tag,
.open-project-tag {
    display: inline-block;
    position: relative;
    bottom: 0.125rem;
    font-weight: bold;
}

.close-about,
.close-project  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    background-color: transparent;
    color: hsl(0, 1%, 95%);
    width: 2.188rem;
    height: 2.188rem;
    border: 0.063rem solid hsl(0, 1%, 95%);
    border-radius: 50%;
    margin: 3.75rem 0;
    cursor: pointer;
}

.close-about:hover,
.close-project:hover {
    color: hsl(0, 0%, 10%);
    border-color: hsl(0, 0%, 20%);
    background: hsl(0, 1%, 95%);
    transition: all 1s ease;
}

.close-about-tag,
.close-project-tag {
    position: relative;
    bottom: 7px;
    font-weight: bold;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    transition: .6s;
    z-index: 10000;
}

.nav {
    position: relative;
    width: auto;
    display: inline-block;
    border: none;
}

.btn-nav {
    position: fixed;
    top: 1.875rem;
    left: 1.875rem;
    background: transparent;
    border: none;
    padding: 0.625rem;
    cursor: pointer;
    z-index: 99999;
}

.btn-nav:focus {
    outline: 0;
}

.icon-bar {
    display: block;
    margin: 0.375rem 0;
    width: 2.188rem;
    height: 0.313rem;
    background-color: hsl(37, 98%, 50%);
}

.btn-nav:hover .icon-bar {
    background-color: hsl(37, 98%, 50%);
}

.nav-content {
    position: fixed;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsl(0, 1%, 95%);
    display: block;
    height: 100%;
    z-index: 9;
}

.nav-list {
    list-style: none;
    padding: 0;
    position: relative;
    top: 10%;
}

.item-anchor:after {
    content: "";
    position: absolute;
    width: 0.188rem;
    height: 0.188rem;
    left: 0;
    bottom: 0;
    z-index: 9;
    background: transparent;
}

.item-anchor {
    font-family: 'Trirong', serif;
    font-weight: 700;
    color: hsl(0, 0%, 10%);
    font-size: 3.125rem;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    padding: 0.625rem;
    letter-spacing: 0.938rem;
}

.item-anchor:hover,
.item-anchor:focus {
    color: hsl(0, 0%, 10%);
}

.item-anchor:hover:after,
.item-anchor:focus:after {
    width: 100%;
    background: hsl(0, 0%, 10%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.nav-item {
    margin: 3.125rem auto;
    text-align: center;
}

.animated {
    display: block;
    margin: 0 auto;
}

.animated:hover .icon-bar,
.animated:focus .icon-bar {
    background-color: hsl(0, 0%, 20%);
}

.animated:focus {
    cursor: pointer;
    z-index: 9999;
}

.middle {
    margin: 0 auto;
}

.icon-bar {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    z-index: 999999;
}

.animated .icon-bar {
    z-index: 999999;
    background-color: hsl(0, 0%, 20%);
}

.animated .top {
    -webkit-transform: translateY(0.625rem) rotateZ(45deg);
    -moz-transform: translateY(0.625rem) rotateZ(45deg);
    -ms-transform: translateY(0.625rem) rotateZ(45deg);
    -o-transform: translateY(0.625rem) rotateZ(45deg);
    transform: translateY(0.625rem) rotateZ(45deg);
}

.animated .bottom {
    -webkit-transform: translateY(-0.688rem) rotateZ(-45deg);
    -moz-transform: translateY(-0.688rem) rotateZ(-45deg);
    -ms-transform: translateY(-0.688rem) rotateZ(-45deg);
    -o-transform: translateY(-0.688rem) rotateZ(-45deg);
    transform: translateY(-0.688rem) rotateZ(-45deg);
}

.animated .middle {
    width: 0;
}

@keyframes showNav {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
}

@-webkit-keyframes showNav {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
}

@-moz-keyframes showNav {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
}

@-o-keyframes showNav {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
}

.showNav {
    -webkit-animation: showNav 1s ease forwards;
    -moz-animation: showNav 1s ease forwards;
    -o-animation: showNav 1s ease forwards;
    animation: showNav 1s ease forwards;
}

@keyframes hideNav {
    from {
      top: 0;
    }
    to {
      top: -100%;
    }
}

@-webkit-keyframes hideNav {
    from {
      top: 0;
    }
    to {
      top: -100%;
    }
}

@-moz-keyframes hideNav {
    from {
      top: 0;
    }
    to {
      top: -100%;
    }
}

@-o-keyframes hideNav {
    from {
      top: 0;
    }
    to {
      top: -100%;
    }
}

.hideNav {
    -webkit-animation: hideNav 1s ease forwards;
    -moz-animation: hideNav 1s ease forwards;
    -o-animation: hideNav 1s ease forwards;
    animation: hideNav 1s ease forwards;
}

.hidden {
    display: none;
}

/* Hero Styles */
.hero-box {
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../images/bg-pc.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 10%, 0.85);
    height: 100vh;
}

.hero-content h1,
.hero-content h2 {
    font-size: 6.25rem;
    text-transform: uppercase;
    letter-spacing: 1.25rem;
}

.hero-content h3 {
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
}

.hero-content h3,
.hero-content h4 {
    font-style: italic;
}

.hero-content h4 {
    font-size: 1.125rem;
    text-transform: lowercase;
}

.hero-content h4 span {
    display: inline-block;
    font-size: 2rem;
    color: hsl(37, 98%, 50%);
    font-weight: bold;
    margin-left: 0.625rem;
}

/* About Header Styles */
.about-header-box {
    width: 100%;
    height: 100vh;
    background: url('../images/bg-4.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 10%, 0.75);
    height: 100vh;
}

/* About Text Styles */
.about-text-box {
    width: 100%;
    height: 100vh;
    background: url();
    background-size: cover;
    background-position: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 0%);
    height: 100vh;
}

.about-text .bio,
.about-text .close {
    width: 50%;
}

.bio p {
    font-size: 1.375rem;
    line-height: 1.4;
    margin-bottom: 1.25rem;
    text-align: justify;
}

.bio ul {
    font-size: 1.25rem;
    line-height: 1.4;
}


/* Project Header Styles */
.project-header-box {
    width: 100%;
    height: 100vh;
    background: url("../images/bg-3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 10%, 0.75);
    height: 100vh;
}

/* Project Content Styles */
.project-content-box {
    width: 100%;
    /* background: url(); */
    background-size: cover;
    background-position: center;
}

.project-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 10%);
    padding-bottom: 3.125rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    height: 31.25rem;
    margin: 1.25rem;
    width: 30%;
    box-shadow: 2px 2px 10px hsla(0, 0%, 15%);
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
}

.card:hover .intro {
    height: 15.625rem;
    bottom: 13.75rem;
    background: black;
}

.card:hover p {
    opacity: 1;
    visibility: visible;
}

.card:hover img {
    transform: scale(1.1) rotate(-3deg);
}

.card img {
    height: 31.25rem;
    width: 100%;
    border-radius: 0.188rem;
    transition: .6s ease;
}

.intro {
    height: 3.125rem;
    width: 100%;
    padding: 0.375rem;
    box-sizing: border-box;
    position: relative;
    bottom: 3.313rem;
    background: rgba(27, 27, 27, .7);
    color: white;
    transition: .6s ease;
}

.intro h4 {
    font-size: 1.563rem;
    margin: 0.625rem;
    text-transform: capitalize;
    letter-spacing: 0.063rem;
}

.intro p {
    font-size: 1.25rem;
    margin: 0 0.625rem 0.625rem 0.625rem;
    line-height: 1.1;
    visibility: hidden;
    opacity: 0;
}

/* Contact Text Styles */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;   
    background: rgba(27, 27, 27, 1);
    border-top: 1px solid hsl(0, 1%, 25%);
    position: relative;
    padding: 3.75rem 0;
}

footer h2 {
    font-size: 8.125rem;
    margin-bottom: 3.75rem;
}

footer hr {
    display: block;
    width: 100%;
    margin-bottom: 3.75rem;
}

footer .social-media {
    width: 40%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 3.75rem;
}

footer .social-media a {
    position: relative;
    color: 	hsl(0, 1%, 85%);
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.125rem;
    transition: all .5s ease-in;
}

footer .social-media a:hover {
    text-decoration: underline;
    color: hsl(0, 1%, 85%);
}

footer .contact-details {
    width: 40%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.contact-details .copy,
.contact-details .email {
    font-size: 1.25rem;
}

/* Responsive */
@media only screen and (min-width: 280px) and (max-width: 319px) {
    /* General Styles */
    .about-title h2,
    .project-title h2 {
        font-size: 2.5rem;
        letter-spacing: 0.313rem;
    }

    /* Navigation */
    .nav-list {
        top: 25% !important;
    }

    .item-anchor {
        font-size: 1.125rem !important;
        padding: 0.625rem;
        letter-spacing: 0.625rem;
    }

    .icon-bar {
        width: 1.875rem;
        height: 0.25rem;
    }

    .btn-nav {
        top: 0.625rem;
        left: 0.625rem;
    }

    .nav-list {
        top: 8%;
    }

    .item-anchor {
        font-size: 1.875rem;
        padding: 0.313rem;
        letter-spacing: 0.938rem;
    }
    
    /* Hero Styles */
    .hero-content h1,
    .hero-content h2 {
        font-size: 2.188rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
    }

    .hero-content h3 {
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    .hero-content h3,
    .hero-content h4 {
        letter-spacing: 0.188rem;
        margin-bottom: 0.625rem;
    }

    .hero-content h4 {
        font-size: 0.938rem;
    }

    .hero-content h4 span {
        font-size: 1.25rem;
    }

    /* About Header Styles */
    .about-text-box,
    .about-text {
        height: auto;
    }

    .open-about, .open-project {
        margin: 2.5rem 0;
    }

    .about-text .bio,
    .about-text .close {
        width: 100%;
    }

    .about-text .bio {
        padding: 1.25rem;
    }

    .bio p {
        font-size: 1.25rem;
        text-align: left;
    }

    .bio p:nth-child(1) {
        margin-top: -2.5rem;
    }

    .bio ul {
        font-size: 1.125rem;
    }

    /* Project Styles */
    .card-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: 1.25rem;;
        width: 95%;
    }

    .card h4 {
        font-size: 1.2rem;
        text-align: center;
    }

    .card img {
        width: 100%;
    }
    
    .intro {
        width: 100%;
        padding: 0.355rem;
    }

    /* Footer Styles */
    footer h2 {
        text-align: center;
        font-size: 2.95rem;
        line-height: 1.5;
    }

    footer .social-media {
        width: 100%;
        justify-content: center;
        margin-bottom: 3.125rem;
    }

    footer .social-media a {
        display: inline-block;
        font-size: 0.938rem;
        text-transform: uppercase;
        letter-spacing: 0;
        margin: 0 5px;
    }

    footer .contact-details {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .contact-details .copy,
    .contact-details .email {
        font-size: 0.938rem;
        margin-bottom: 0.625rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 424px) {
    /* General Styles */
    .about-title h2,
    .project-title h2 {
        font-size: 3.125rem;
        letter-spacing: 0.313rem;
    }

    /* Navigation */
    .nav-list {
        top: 20% !important;
    }

    .item-anchor {
        font-size: 1.25rem !important;
    }

    .icon-bar {
        width: 1.875rem;
        height: 0.25rem;
    }

    .btn-nav {
        top: 0.625rem;
        left: 0.625rem;
    }
    
    /* Hero Styles */
    .hero-content h1,
    .hero-content h2 {
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
    }

    .hero-content h3 {
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    .hero-content h3,
    .hero-content h4 {
        letter-spacing: 0.188rem;
        margin-bottom: 0.625rem;
    }

    .hero-content h4 {
        font-size: 0.938rem;
    }

    .hero-content h4 span {
        font-size: 1.25rem;
    }

    /* About Header Styles */
    .about-text-box,
    .about-text {
        height: auto;
    }

    .open-about, .open-project {
        margin: 2.5rem 0;
    }

    .about-text .bio,
    .about-text .close {
        width: 100%;
    }

    .about-text .bio {
        padding: 1.25rem;
    }

    .bio p {
        font-size: 1.25rem;
        text-align: left;
    }

    .bio p:nth-child(1) {
        margin-top: -2.5rem;
    }

    .bio ul {
        font-size: 1.125rem;
    }

    /* Project Styles */
    .card-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 5%;
    }

    .card {
        margin: 1rem;;
        width: 100%;
    }

    .card h4 {
        font-size: 1.4rem;
        text-align: center;
        padding-top: 0.5rem;
    }

    .card img {
        width: 100%;
    }
    
    .intro {
        width: 100%;
        padding: 0;
    }
    
    /* Footer Styles */
    footer h2 {
        font-size: 3.75rem;
        text-align: center;
        line-height: 1.25;
    }

    footer .social-media {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    footer .social-media a {
        font-size: 0.813rem;
        letter-spacing: 0.112rem;
        margin: 0 0.375rem;
    }

    footer .contact-details {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-details .copy,
    .contact-details .email {
        font-size: 1.125rem;
        margin-bottom: 0.625rem;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    /* General Styles */
    .about-title h2,
    .project-title h2 {
        font-size: 3.75rem;
    }

    /* Navigation */
    .nav-list {
        top: 20% !important;
    }

    .item-anchor {
        font-size: 1.5rem !important;
    }

    .icon-bar {
        width: 1.875rem;
        height: 0.25rem;
    }

    .btn-nav {
        top: 0.625rem;
        left: 0.625rem;
    }
    
    /* Hero Styles */
    .hero-content h1,
    .hero-content h2 {
        font-size: 3.438rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
    }

    .hero-content h3 {
        font-size: 1.563rem;
        margin-bottom: 0;
    }

    .hero-content h3,
    .hero-content h4 {
        letter-spacing: 0.188rem;
        margin-bottom: 0.625rem;
    }

    .hero-content h4 {
        font-size: 1rem;
    }

    .hero-content h4 span {
        font-size: 1.25rem;
    }

    /* About Header Styles */
    .about-text-box,
    .about-text {
        height: auto;
    }

    .open-about, .open-project {
        margin: 2.5rem 0;
    }

    .about-text .bio,
    .about-text .close {
        width: 100%;
    }

    .about-text .bio {
        padding: 1.25rem;
    }

    .bio p {
        font-size: 1.25rem;
        text-align: left;
    }

    .bio p:nth-child(1) {
        margin-top: -2.5rem;
    }

    .bio ul {
        font-size: 1.125rem;
    }

    /* Project Styles */
    .card-container {
        flex-wrap: wrap;
    }

    .card {
        height: 500px;
        margin: 15px;
        width: 44%;
        overflow: hidden;
    }

    .card h4 {
        font-size: 1rem;
    }

    /* Footer Styles */
    footer h2 {
        text-align: center;
        font-size: 2.95rem;
        line-height: 1.5;
    }

    footer .social-media {
        width: 100%;
        justify-content: center;
        margin-bottom: 3.125rem;
    }

    footer .social-media a {
        display: inline-block;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.063rem;
        margin: 0 1.163rem;
    }

    footer .contact-details {
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contact-details .copy,
    .contact-details .email {
        font-size: 1.25rem;
        margin-bottom: 0.625rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* General Styles */
    .about-title h2,
    .project-title h2 {
        font-size: 5rem;
    }

    /* Navigation */
    .nav-list {
        top: 20% !important;
    }

    .item-anchor {
        font-size: 2.188rem !important;
    }
    
    /* Hero Styles */
    .hero-content h1,
    .hero-content h2,
    .hero-content h3 {
        margin-bottom: 1.563rem;
    }

    .hero-content h1,
    .hero-content h2 {
        font-size: 6.25rem;
        text-transform: uppercase;
        letter-spacing: 0.313rem;
    }

    .hero-content h3 {
        font-size: 3.125rem;
    }

    .hero-content h3,
    .hero-content h4 {
        letter-spacing: 0.188rem;
    }

    .hero-content h4 {
        font-size: 1.5rem;
    }

    .hero-content h4 span {
        font-size: 2rem;
    }

    /* About Header Styles */
    .about-text-box,
    .about-text {
        height: auto;
    }

    .open-about, .open-project {
        margin: 2.5rem 0;
    }

    .about-text .bio,
    .about-text .close {
        width: 80%;
    }

    .about-text .bio {
        padding: 1.25rem 1.25rem 3.125rem 1.25rem;
    }

    .bio p {
        font-size: 1.75rem;
        text-align: left;
    }

    .bio p:nth-child(1) {
        margin-top: 0;
    }

    .bio ul {
        font-size: 1.55rem;
    }

    /* Project Styles */
    .card-container {
        flex-wrap: wrap;
    }

    .card {
        height: 500px;
        margin: 19px;
        width: 45%;
        overflow: visible;
    }


    /* Footer Styles */
    footer h2 {
        text-align: center;
        font-size: 3.95rem;
        line-height: 1.5;
    }

    footer .social-media {
        width: 100%;
        justify-content: center;
        margin-bottom: 3.125rem;
    }

    footer .social-media a {
        display: inline-block;
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 0.063rem;
        margin: 0 1.563rem;
    }

    footer .contact-details {
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contact-details .copy,
    .contact-details .email {
        font-size: 1.75rem;
        margin-bottom: 0.625rem;
    }
}